<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>最新演出</title>
    <link th:replace="~{admin/commons/csslinks::admincssimport}"/>
</head>

<body>
<div id="wrapper">
    <div th:replace="admin/commons/navbar::adminnavbar"></div>
    <!--/. NAV TOP  -->
    <div th:replace="admin/commons/sidebar::adminsidebar(active='latest')"></div>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        最新演出页面
                        <small></small>
                    </h1>
                </div>
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="所有演出">
                            Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover small"
                                       id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th th:text="'#'">Rendering engine</th>
                                        <th th:text="状态">Rendering engine</th>
                                        <th th:text="描述">Browser</th>
                                        <th th:text="分类">Platform(s)</th>
                                        <th th:text="演出名">Engine version</th>
                                        <th th:text="价格">CSS grade</th>
                                        <th th:text="演出时间">CSS grade</th>
                                        <th th:text="演出地点">CSS grade</th>
                                        <th th:text="图片">CSS grade</th>
                                        <th th:text="种类编号">CSS grade</th>
                                        <th th:text="库存量">CSS grade</th>
                                        <th th:text="选项"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeA" th:each="p:${latest}">
                                        <td th:text="${p.id}">Gecko</td>
                                        <td th:text="${p.state}">Gecko</td>
                                        <td th:text="${p.pDescription}">Mozilla 1.6</td>
                                        <td th:text="${p.pCategory}">Mozilla 1.6</td>
                                        <td th:text="${p.pName}">Win 95+ / OSX.1+</td>
                                        <td th:text="${p.pPrice}">1.6</td>
                                        <td th:text="${p.pShowTime}">A</td>
                                        <td th:text="${p.pVenue}">A</td>
                                        <td><a href="#" th:href="@{${p.pPath}}"><img alt="product" height="30"
                                                                                     src="img/prodcut-40x40.jpg"
                                                                                     th:src="@{'/4040' + ${p.pPath}}"
                                                                                     title="product"
                                                                                     width="30"></a></td>
                                        <td th:text="${p.pKind}">A</td>
                                        <td th:text="${p.store}">A</td>
                                        <td class="center">
                                            <a class="btn btn-small btn-default" href="#"
                                               th:href="@{/admin/updateProduct(id=${p.id})}">修改</a>
                                            <a class="btn btn-small btn-danger" href="#"
                                               th:href="@{/admin/deleteProduct(id=${p.id})}">删除</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div
                >
            </div>
            <!-- /. ROW  -->
            <footer>
            </footer>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<div th:replace="~{admin/commons/jsimport::adminjsimport}"></div>


</body>

</html>