<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>备份数据</title>
    <link th:replace="~{admin/commons/csslinks::admincssimport}"/>
</head>

<body>
<div id="wrapper">
    <div th:replace="admin/commons/navbar::adminnavbar"></div>
    <!--/. NAV TOP  -->
    <div th:replace="admin/commons/sidebar::adminsidebar(active='backup')"></div>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        操作成功
                        <small th:text="${success}"></small>
                    </h1>

                    <h1><a href="#" onclick="window.history.go(-1)"><small>点我返回</small></a></h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <footer>
            </footer>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<div th:replace="~{admin/commons/jsimport::adminjsimport}"></div>


</body>

</html>