<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<aside class="span3" th:fragment="sidebar">
    <div class="sidewidt">
        <h2 class="heading2"><span>账户</span></h2>
        <ul class="nav nav-list categories">
            <li><a href="#" th:href="@{/account}">我的账户</a>
            </li>
            <li><a href="#" th:href="@{/edit}">编辑个人信息</a>
            </li>
            <li><a href="#" th:href="@{/change}">密码修改</a>
            </li>
            <li><a href="#" th:href="@{/wishlist}">愿望清单</a>
            </li>
            <li><a href="#" th:href="@{/showOrders}">查看订单</a>
            </li>
            <li><a href="#" th:href="@{/index}">返回首页</a>
            </li>
            <li><a href="#" th:href="@{/category.html}">商品种类</a>
            </li>
            <li><a href="#" th:href="@{/logout}">退出登陆</a>
            </li>
        </ul>
    </div>
</aside>

</body>
</html>