<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Footer -->
<footer id="footer" th:fragment="footer">
    <section class="footersocial">
        <div class="container">
            <div class="row">
                <div class="span3 aboutus">
                    <h2> 关于我们 </h2>
                    <p>
                        这故事很使我觉得做人之险，夏夜乘凉，往往有些担心，不敢去看墙上，而且极想得到一盒老和尚那样的飞蜈蚣。走到百草园的草丛旁边时，也常常这样想。但直到现在，总还没有得到，但也没有遇见过赤练蛇和美女蛇。叫我名字的陌生声音自然是常有的，然而都不是美女蛇
                        <br>
                        <br>
                        冬天的百草园比较的无味；雪一下，可就两样了。拍雪人（将自己的全形印在雪上）和塑雪罗汉29需要人们鉴赏30，这是荒园，人迹罕至31，所以不相宜，只好来捕鸟。薄薄的雪，是不行的； </p>
                </div>
                <div class="span3 contact">
                    <h2>联系我们</h2>
                    <ul>
                        <li class="phone"> +123 456 7890, +123 456 7890</li>
                        <li class="mobile"> +123 456 7890, +123 456 78900</li>
                        <li class="email"> test@test.com</li>
                        <li class="email"> test@test.com</li>
                    </ul>
                </div>
                <div class="span3 twitter">
                    <h2>公司地址</h2>
                    <div>
                    </div>
                </div>
                <div class="span3 facebook">
                    <h2>官方新媒体</h2>
                    <div id="fb-root"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="footerlinks">
        <div class="container">
            <div class="info">
                <ul>
                    <li><a href="#">隐私协议</a>
                    </li>
                    <li><a href="#">使用条款</a>
                    </li>
                    <li><a href="#">官方微博</a>
                    </li>
                    <li><a href="#">官方微信</a>
                    </li>
                </ul>
            </div>
            <div id="footersocial">
                <a class="facebook" href="#" title="Facebook">Facebook</a>
                <a class="twitter" href="#" title="Twitter">Twitter</a>
                <a class="linkedin" href="#" title="Linkedin">Linkedin</a>
                <a class="rss" href="#" title="rss">rss</a>
                <a class="googleplus" href="#" title="Googleplus">Googleplus</a>
                <a class="skype" href="#" title="Skype">Skype</a>
                <a class="flickr" href="#" title="Flickr">Flickr</a>
            </div>
        </div>
    </section>
    <section class="copyrightbottom">
        <div class="container">
            <div class="row">
                <div class="span6 textright">毕业设计 @ 2020</div>
            </div>
        </div>
    </section>
    <a href="#" id="gotop">回到顶部</a>
</footer>

</body>
</html>