<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    这里面都是管理员的js导入.
-->

<div th:fragment="adminjsimport">
    <script src="assets/js/jquery-1.10.2.js" th:src="@{/admin/assets/js/jquery-1.10.2.js}"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js" th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js" th:src="@{/admin/assets/js/jquery.metisMenu.js}"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"
            th:src="@{/admin/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"
            th:src="@{/admin/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js" th:src="@{/admin/assets/js/custom-scripts.js}"></script>
    <script src="assets/js/custom.js" th:src="@{/admin/assets/js/custom.js}"></script>

    <script src="assets/js/morris/morris.js" th:src="@{/admin/assets/js/morris/morris.js}"></script>


</div>

</body>
</html>