<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>博客列表</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <div th:replace="~{customer/commons/csslinks::cssimport}"></div>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- fav -->
    <link href="assets/ico/favicon.html" rel="shortcut icon">
</head>
<body>
<!-- Header Start -->
<div th:replace="~{customer/commons/header::header}"></div>
<!-- Header End -->

<div id="maincontainer">
    <section id="product">
        <div class="container">
            <!--  breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">博客</li>
            </ul>
            <div class="row">
                <!-- Sidebar Start-->
                <aside class="span3">
                    <!-- Category-->
                    <div class="sidewidt">
                        <h2 class="heading2"><span>Blog Categories</span></h2>
                        <ul class="nav nav-list categories">
                            <li>
                                <a href="category.html">Women </a>
                            </li>
                            <li>
                                <a href="category.html">Men </a>
                            </li>
                            <li>
                                <a href="category.html">Children </a>
                            </li>
                            <li>
                                <a href="category.html">Electronics </a>
                                <ul>
                                    <li><a href="product.html">Mobile </a>
                                    </li>
                                    <li><a href="product.html">Laptop</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="category.html">Computers</a>
                            </li>
                            <li>
                                <a href="category.html">Jewellery </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Other-->
                    <div class="sidewidt">
                        <h2 class="heading2"><span>Others</span></h2>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#popular">Popular</a>
                            </li>
                            <li><a href="#recent">Recent</a>
                            </li>
                            <li><a href="#comments">Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content sideblog">
                            <div class="tab-pane active" id="popular">
                                <ul>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a class="blogtitle" href="product.html">My Blog Title will appear here </a>
                                        <div>
                                            <span class="mr10"><i class="icon-calendar"></i> January 10, 2013 </span>
                                            <span class="mr10"><a href="#"><i class="icon-comment"></i> 8 Comments</a> </span>
                                            <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                        </div>
                                    </li>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a class="blogtitle" href="product.html">My Blog Title will appear here </a>
                                        <div>
                                            <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                            <span class="mr10"><a href="#"><i class="icon-comment"></i> 15 Comments</a> </span>
                                            <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <div class="tab-pane" id="recent">
                                <ul>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a class="blogtitle" href="product.html">Lorem Ipsum Title appear here </a>
                                        <div>
                                            <span class="mr10"><i class="icon-calendar"></i> February 03, 2012</span>
                                            <span class="mr10"><a href="#"><i class="icon-comment"></i> 3 Comments</a> </span>
                                            <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                        </div>
                                    </li>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a class="blogtitle" href="product.html">My Blog Title will appear here </a>
                                        <div>
                                            <span class="mr10"><i class="icon-calendar"></i> January 3, 2013 </span>
                                            <span class="mr10"><a href="#"><i class="icon-comment"></i> 6 Comments</a> </span>
                                            <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <div class="tab-pane" id="comments">
                                <ul>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a href="product.html">Your recent comment will appear here...</a>
                                        <a class="usercomment" href="enavato.html"><i class="icon-edit"></i> User 1</a>
                                    </li>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a href="product.html">Your recent comment will appear here...</a>
                                        <a class="usercomment" href="enavato.html"><i class="icon-edit"></i> User 2</a>
                                    </li>
                                    <li>
                                        <img alt="product" class="sideblogimage" height="50" src="img/prodcut-40x40.jpg"
                                             title="product" width="50">
                                        <a href="product.html">Your recent comment will appear here...</a>
                                        <a class="usercomment" href="enavato.html"><i class="icon-edit"></i> User 3</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Tags-->
                    <div class="sidewidt">
                        <h2 class="heading2"><span>Tags</span></h2>
                        <ul class="tags">
                            <li><a href="#"><i class="icon-tag"></i> Webdesign</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> html</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> html</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> css</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> jquery</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> css</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> jquery</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> Webdesign</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> css</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> jquery</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> Webdesign</a>
                            </li>
                            <li><a href="#"><i class="icon-tag"></i> html</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- Sidebar End-->
                <!-- Blog listing-->
                <div class="span9 bloggrid">
                    <h1 class="heading1"><span class="maintext">Blog List</span><span class="subtext"> See Our Latest Blog </span>
                    </h1>
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a class="fancyboxpopup" href="img/product1.jpg"><img alt=""
                                                                                      src="img/product1a.jpg"><span
                                        class="viewfancypopup">&nbsp;</span></a>
                                <div class="caption">
                                    <a class="bloggridtitle" href="#">My First Blog Title Appear
                                    </a>
                                    <div class="author">by : <a href="#"> pxcreate</a>
                                    </div>
                                    <div>

                                        <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span>
                                        <span class="mr10"><a href="#"><i
                                                class="icon-comment"></i> 5 Comments</a> </span><br>
                                        <span class="mr10"> <a href="#"><i class="icon-tag"></i> css3, html5, responsive</a> </span>
                                    </div>

                                </div>
                            </div>

                        </li>


                    </ul>
                    <!-- Paging-->
                    <div class="row">
                        <div class="pagination pull-right">
                            <ul>
                                <li><a href="#">Prev</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li><a href="#">6</a>
                                </li>
                                <li><a href="#">7</a>
                                </li>
                                <li><a href="#">8</a>
                                </li>
                                <li><a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="~{customer/commons/footer::footer}"></div>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="~{customer/commons/js::jsimport}"></div>
</body>
</html>