<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>请在此登陆</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <div th:replace="~{customer/commons/csslinks::cssimport}"></div>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- fav -->
    <link href="#" rel="shortcut icon" th:href="@{/static/assets/ico/favicon.html}">
</head>
<body>
<!-- Header Start -->
<div th:replace="~{customer/commons/header::header(active='myaccount')}"></div>
<!-- Header End -->

<div id="maincontainer">
    <section id="product">
        <div class="container">
            <!--  breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <a href="#" th:href="@{/index.html}">首页</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">修改密码</li>
            </ul>
            <!-- Account Login-->
            <div class="row">
                <div class="span9">
                    <h1 class="heading1"><span class="maintext">修改密码</span><span class="subtext">修改密码后请谨记您的密码</span>
                    </h1>
                    <section>
                        <h2 class="heading2">登陆 </h2>
                        <div class="loginbox">
                            <h4 class="heading4" style="color: red"
                                th:text="${not #strings.isEmpty(message)}  ? ${message} : '谨慎修改'"></h4>
                            <form action="#" class="form-vertical" method="post" th:action="@{/updatePass}">

                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label">原来的密码:</label>
                                        <div class="controls">
                                            <label>
                                                <input class="span3" name="previous" required="required" title="请输入原密码"
                                                       type="password">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">新密码:</label>
                                        <div class="controls">
                                            <label>
                                                <input class="span3" id="pass" name="newpass" required="required"
                                                       type="password">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">确认密码:</label>
                                        <div class="controls">
                                            <label>
                                                <input class="span3" id="repeatPass" name="newpass1" required="required"
                                                       type="password">
                                                <span id="passtest" style="color: red;"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <a class="" href="#">忘记密码?</a>
                                    <br>
                                    <br>
                                    <!--<a class="btn btn-orange" href="#" th:form="">登陆</a>-->
                                    <input class="btn btn-orange" id="submit" type="submit" value="确认更改">
                                </fieldset>
                            </form>
                        </div>
                    </section>
                </div>

                <!-- Sidebar Start-->
                <div th:replace="~{/customer/commons/accountside::sidebar}"></div>
                <!-- Sidebar End-->
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<div th:replace="~{customer/commons/footer::footer}"></div>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="~{customer/commons/js::jsimport}"></div>

<script>
    $("#repeatPass").blur(function () {
        // $(this).title("Hello");
        var val = $("#pass").val();
        var val1 = $(this).val();

        if (val !== val1) {
            $("#passtest").text("两次密码不一致");
            $("#submit").bind('click', function (e) {
                e.preventDefault();
            }, false);
        } else if (val === val1) {
            $("#passtest").text("");
            var su = $("#submit")[0];
            // $("#confirm").after("<input class='btn btn-orange' id='submit' type='submit' value='确认'/>");
            $("#submit").unbind('click');
        }
    });
</script>
</body>
</html>